#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.myTitle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;   
}

.hidden {
  display: none;
}

.menu{
  position: relative;
}

.clearMenuBtn {
  position: relative;
  bottom: 2px;
  right: 97px;
}

.customTextColor {
  color: #000000; /* Change '#000000' to the desired color */
}

.menuText{
  color: #000000;
}

.z {
  color: rgb(124, 207, 255);
}



.orderDiv  .MuiAccordionSummary-root {
  background-color: rgb(226, 144, 37);
}

.buttonsManagerPage {
  display: flex;
  margin-left: 40px;
  flex-direction: column;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  left: 0px;
}

.AddIngredientsDiv {
  position: relative;
  width: 70%;
  height: 55vh;
  background-image: url('../public/images/IngredientImg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 30px;
}








